.dark .menu-circle {
  color: #7d7d7d
}
.dark .menu-circle:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
}
.dark .send {
  border-color: #111111;
}

.dark .modal{
      background-color: #2D2D2D;
}

.dark #timer{
  color: rgb(98, 97, 103);
}

.dark #timer2{
  color: rgb(98, 97, 103);
}

.dark .reset{
  color: black;
  background: white;
}

.dark .chat-input {
  background: #F7F7F7;
  color: #626167
}

.dark #blue{
  fill: url(#linear-blueWhite)
}

.dark #blue2{
  fill: url(#linear-blueWhite2)
}

.dark #timer > i{
  color: #454254!important;
}

.dark #timer2 > i{
  color: #454254!important;
}

.dark .cwhite{
  z-index: -1;
  background: #fff;
}

.dark .rBonus{
  color: black;
}

.dark .cBlue{
  background: rgba(0, 32, 123, 0.28);
}
.dark #red_factor{
  color: #939299!important;
}
.dark #blue_factor{
  color: #939299!important;
}
.dark #red_factor2{
  color: #939299!important;
}
.dark #blue_factor2{
  color: #939299!important;
}
.dark .sum{
  color: #939299!important;
}
.dark #red_sum{
  color: #4B4955!important;
}
.dark #blue_sum{
  color: #4B4955!important;
}
.dark #red_sum2{
  color: #4B4955!important;
}
.dark #blue_sum2{
  color: #4B4955!important;
}
.dark .list-item{
  color: #4B4955;
  font-weight: bold;
}
.dark .buttonecD{
  box-shadow: none;
}
.dark .online{
  color: rgb(120, 119, 124);
}
.dark .grayText{
  color: rgb(120, 119, 124);
}
.dark .darkBack{
  background: #F7F7F7!important;
  box-shadow: none!important;
}
.dark .message-text{
  color:#49484F;
}
.dark .grayLine{
  background: rgb(120, 119, 124)!important;
}
.dark .chatText{
  color: rgb(120, 119, 124)!important;
}
.dark circle {
  fill: #4679E0;
  stroke: #5C49E2
}
.dark .modalWindow .window {
    background: rgba(244, 244, 244, 0.82);
    color: #575757;
  }

.dark .lineTop{
  background: linear-gradient(90deg, #E8863F, #CD4A6B, #d23472);
}
.dark .lineTopB{
  background: linear-gradient(90deg, #39A6E8, #5B66CF, #6041D2)!important;
}

.dark .counter{
  z-index: 0;
}

.dark .cBlue{
  z-index: -2!important;
}

.dark #red{
  fill: url(#linear-redWhite)
}

.dark #red_2{
  fill: url(#linear-redWhite2)
}

.dark .inputc {
    background: #1d1d1d;
    color: white;
}

.dark #sub_list {
    background: #F7F7F7;
    border: 1px;
}

.dark .block {
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 9px 18px 8px rgba(243, 243, 243, 0.38), 0 18px 8px 0 rgba(202, 202, 202, 0.07), 0 1px 5px 0 rgba(40, 40, 40, 0.08);
}

.dark .menu-circle:hover{
  color: #6B8EDF;
  background: #F4F9FE
}

.dark .text {
  color: #939298
}

.dark .balance{
  color: #626167;
}

.dark .V{
  color: #6B8EDF!important;
  background: #F4F9FE!important
}
.dark .redB{
  background: linear-gradient(90deg, #FA7E28, #ff4034, #DD3479);
}
.dark .blueB{
  background: linear-gradient(90deg, #2CB4FA, #4D7CF3, #5F3FDF);
}
.dark .hR{
  color: #E95B4C;
  background: #FFF3F3;
}
.dark .hB {
  color: #6883DD;
  background: #F4F7FF
}
.dark .add-balance {
  background: #F6F6FF;
}
.dark .sub-balance {
  background: #FFF3F3;
}
.dark .plus{
  color: #6786E8
}
.dark .input {
  background: #F7F7F7;
  color: #626167
}
.dark .tool-item{
  background: #F7F7F7;
  color: #626167
}
.dark body {
  background-color: #1D1D1D !important;
  color: white;
}
