@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'Beaufort';
  src: local("BeaufortforLOL Regular"), local("BeaufortforLOL-Regular"), url("../fonts/beaufort/BeaufortforLOL-Regular.eot"), url("../fonts/beaufort/BeaufortforLOL-Regular.woff") format("woff"), url("../fonts/beaufort/BeaufortforLOL-Regular.ttf") format("truetype"), url("../fonts/beaufort/BeaufortforLOL-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufort';
  src: local("BeaufortforLOL Medium"), local("BeaufortforLOL-Medium"), url("../fonts/beaufort/BeaufortforLOL-Medium.eot"), url("../fonts/beaufort/BeaufortforLOL-Medium.woff") format("woff"), url("../fonts/beaufort/BeaufortforLOL-Medium.ttf") format("truetype"), url("../fonts/beaufort/BeaufortforLOL-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufort';
  src: local("BeaufortforLOL Bold"), local("BeaufortforLOL-Bold"), url("../fonts/beaufort/BeaufortforLOL-Bold.eot"), url("../fonts/beaufort/BeaufortforLOL-Bold.woff") format("woff"), url("../fonts/beaufort/BeaufortforLOL-Bold.ttf") format("truetype"), url("../fonts/beaufort/BeaufortforLOL-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
